

.logoBox{
  width: 80px;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.title{
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  font-weight: 600;
}

ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  .menuContainer {
    background-color: #ffffff;
    box-shadow:  3px 3px 0px #f3f4f7,
                -3px -3px 0px #fdfeff;
  }
  
}