
/* orderTable */
.orderTable {
  width: 100%; 
  border-collapse: collapse; 
}

.orderTable th, .orderTable td {
  width: auto;
  padding: 0 4px;
  text-align: left; 
}

.orderTable th {
  font-weight: bold; 
}

.orderNumber {
  text-align: center;
}

/* ================================================ */
.outletContainer{
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.test{
  display: flex;
  gap: 20px;
  width: 100%;
}
.content{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease 0s;
}
.toolBox{
  display: flex;
  width: 100%;
  gap: 40px;
}
.toolBlock{
  display: flex;
  flex-direction: column;
  position: relative;
}
.searchInput{
  background-color:#1D2634;
  border: 1px solid #57606E;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
}
.searchIcon{
  position: absolute;
  bottom: 14px;
  right: 10px;
}

.toolBlockTitle{
  margin-bottom: 10px;
}

.orderContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 350px;
  border: 1px solid #777E8A;
  border-radius: 10px;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px;
  position: relative;
}

.closeIcon{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.orderTitle{
  color: #4A7BD0;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}
.orderItem{
  display: flex;
  gap: 10px;
}

.orderButtons{
  display: flex;
  gap: 10px;
  justify-content: center;
}


/* Grids */

.gridTable {
  display: grid;
  gap: 4px;
  transition: all 1s ease-in-out  1s;
}
.gridHeader, .gridBody {
  display: grid;
  grid-template-columns: 10% 25% 15% 10% 10% 15% 10%; 
  gap: 4px;
}

.gridBodyWrapperAdmin{
  max-height: 520px;
  overflow-y: auto;
}
.gridBodyWrapperUser{
  max-height: 612px;
  overflow-y: auto;
}

.iconColumn {
  display: flex;
  justify-content: space-around;
}

.icon-button:hover {
  color: #4A7BD0;
  position: relative;
  cursor: pointer;
}

.icon-button::after {
  content: attr(data-tooltip); 
  position: absolute;
  bottom: -100%; 
  left: 50%; 
  transform: translateX(-50%); 
  white-space: nowrap; 
  background-color: #253043; 
  color: #fff; 
  padding: 5px 10px; 
  border-radius: 4px; 
  font-size: 10px; 
  opacity: 0; 
  visibility: hidden; 
  transition: all 0.3s, visibility 0.3s; 
  z-index: 1000; 
  pointer-events: none; 
}

.icon-button:hover::after {
  opacity: 1;
  visibility: visible; 
}

.gridRow {
  display: contents;
}
.centerCell {
  display: flex;
  justify-content: center;
}
.headerCell {
  font-weight: 600;
  text-align: left;
  background-color: #4A7BD0;
  color: #F8F9FC;
}

.headerCell, .gridCell {
  padding: 10px;
  border-radius: 8px;
  text-align: left;

}

.gridCell{
  border: 1px solid #777E8A;
}

.gridRow:hover > div{
  background-color: #253043;
}

.slideInFromRight {
  animation: slideInFromRight 0.2s ease-out forwards;
}


@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0; 
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
    
  }
  to {
    transform: translateX(100%);
    opacity: 0; 
  }
}

@media (prefers-color-scheme: light) {
  .searchInput{
    background-color: #F8F9FC;
  }
  .newPriceForm input{
    background-color: #F8F9FC;
  }
  .newPriceForm{
    background-color: #F8F9FC;
  }
  .rowTable:hover .newPriceForm{
    background-color: #E1E8F5;
  }
  .rowTable:hover{
    background-color: #E1E8F5;
  }
  .gridRow:hover > div{
    background-color: #E1E8F5;
  }
}