table thead, table tbody tr {
  display: table;
  width: 98%;
  table-layout: fixed; 
  margin: 10px 0;
}

tr{
  border: 1px solid #777E8A;
  border-radius: 8px;
  padding: 10px;
}

.tableBody{
  display: block;
  max-height: 560px; 
  overflow-y: auto;
}
th:nth-child(1), td:nth-child(1) { 
  width: 8%; 
}
th:nth-child(2), td:nth-child(2) { 
  width: 24%; 
}
th:nth-child(3), td:nth-child(3) { 
  width: 15%; 
}
.b{
  font-weight: 600;
}

th, td {
  text-align: left;
}

.rowTable:hover{
  background-color: #253043;
}
.content{
  width: 100%;
  margin: 20px 0;
  display: flex;
  gap: 10px;
  transition: all 0.3s ease 0s;
}
.orderContainer{
  flex: 0 0 33%;
  width: 400px;
  border: 1px solid #777E8A;
  border-radius: 10px;
  animation: slideInFromRight 0.2s ease-out forwards; 
  transition: all 0.3s ease-in-out 0s;
}
.orderItem{
  display: flex;
  gap: 10px;
}

/* Grids */

.gridTable {
  flex: 1 1 auto;
  display: grid;
  gap: 4px;
  grid-template-columns: auto auto auto auto auto auto auto; 
  transition: all 1s ease-in-out  1s;
}

.gridHeader {
  display: contents;
}

.gridBody {
  max-height: 300px;
  overflow-y: auto;
  display: contents;
}

.iconColumn {
  display: flex;
  justify-content: space-around;
}
.iconColumn svg {
  cursor: pointer;
}
.iconColumn svg:hover {
  color: #4A7BD0;
}

.gridRow {
  display: contents;
}
.centerCell {
  display: flex;
  justify-content: center;
}
.headerCell {
  font-weight: 600;
  text-align: left;
  background-color: #4A7BD0;
  color: #F8F9FC;
}

.headerCell, .gridCell {
  padding: 10px;
  text-align: left;
  border-radius: 8px;
}

.gridCell{
  border: 1px solid #777E8A;
}

.gridRow:hover > div{
  background-color: #253043;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); /* Начните сдвиг справа за пределами экрана */
    opacity: 0; /* Начните с полной прозрачности */
  }
  to {
    transform: translateX(0); /* Закончите сдвиг на месте */
    opacity: 1; /* Закончите с полной непрозрачностью */
  }
}

@media (prefers-color-scheme: light) {
  .newPriceForm input{
    background-color: #F8F9FC;
  }
  .newPriceForm{
    background-color: #F8F9FC;
  }
  .rowTable:hover .newPriceForm{
    background-color: #E1E8F5;
  }
  .rowTable:hover{
    background-color: #E1E8F5;
  }
  .gridRow:hover > div{
    background-color: #E1E8F5;
  }
}