.container{
  max-width: 420px;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  
}

.p{
  margin-bottom: 20px;
}

.logoBox{
  width: 100px;
  margin-bottom: 40px;
}

.loginBox{
  background-color: #253043;
  border-radius: 20px;
  padding: 40px;
  position: relative;
}

.button{
  margin-top: 10px;
}
.link{
  margin-top: 10px;
}
.error {
  color: red;
  height: 20px; 
  margin-bottom: 10px; 
  visibility: hidden; 
}

.error.active {
  visibility: visible; 
}

@media (prefers-color-scheme: light) {
  .loginBox{
    background-color: #fff;
  }
}