.inputBox{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  position: relative;

}
.floatingLabelInput {
  position: relative;
  border: 1px solid #57606E;
  border-radius: 8px;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#253043;
}

.label {
  position: absolute;
  left: 8px;
  top: 8px;
  color:  #57606E;
  transition: all 0.3s ease;
  pointer-events: none;
  padding: 0 6px;
}

.focused .label,
.input:not(:placeholder-shown) + .label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  background-color:#253043;
}

.filled {
  top: -20px;
  left: 0px;
  font-size: 12px;
}

.hidePlaceholder::placeholder {
  color: transparent;
}
.togglePasswordButton{
  position: absolute;
  right: 10px;
  top: 11px;
  background: none;
  border: none;
  cursor: pointer;
  color:  #57606E;
}


@media (prefers-color-scheme: light) {
  .input {
    background-color: #ffffff;
  }
  .focused .label,
  .input:not(:placeholder-shown) + .label {
    background-color: #ffffff
  }
}
