.container{
  max-width: 420px;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  
}

.title{
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.p{
  margin-bottom: 20px;
}

.loginBox{
  background-color: #253043;
  border-radius: 20px;
  padding: 40px;
}

.button{
  margin-top: 10px;
}

@media (prefers-color-scheme: light) {
  .loginBox{
    background-color: #fff;
  }
}