.container{
  max-width: 420px;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  position: relative;
}

.successMessage{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.95;
  padding: 40px;
  background-color: #253043;
  transition: all 0.3s ease 0s;
  animation: fadeInSuccess 0.5s ease-in-out;
}

.text{
  margin-bottom: 0;
  font-weight: 600;
}

.icon{
  margin-top: 40px;
  color:#4A7BD0;
  font-size: 60px;
  animation: fadeInMark 0.8s ease-in-out;
}

@keyframes fadeInSuccess {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.95;
  }
}

@keyframes fadeInMark {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.link{
  z-index: 10;
}
.title{
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.p{
  margin-bottom: 20px;
}

.loginBox{
  background-color: #253043;
  border-radius: 20px;
  padding: 40px;
}

.button{
  margin-top: 10px;
}

@media (prefers-color-scheme: light) {
  .loginBox{
    background-color: #fff;
  }
}