#root {
  display: flex;
  width: 100%;
}
.flexList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flexListItem{
  display: flex;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid #57606E;
  padding: 10px;
  position: relative;
}
.flexListItem:hover{
  background-color: #253043;
}
.flexListItemFocused {
  border: 2px solid #4A7BD0;
}

.pageWrapper{
  display: flex;
  width: 100%;
}

.pageContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  max-height: 100vh; 
  overflow-y: hidden;
  flex-grow: 1;
}

header{
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 20px 0;
  padding: 0 40px;
  justify-content: space-between;
}

.headerIcon{
  display: flex;
  font-size: 24px;
  padding: 16px;
  border-radius:50%;
  margin: 0 6px;
  cursor: pointer;
  position: relative;
  color:  rgba(255, 255, 255, 0.87);
}

.headerIcon:hover{
  background-color: #2F3744;
}

.bell:hover .bell-icon{
  animation: spin 0.5s ease-in-out;
  transition: all 0.3s ease 0s;
  transform-origin: top;
}

@keyframes spin {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
}

.footerIcon{
  transition: all 0.3s ease 0s;
}

.infopage{
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.sectionTitle{
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: 600;
}

.popup{
  position: absolute;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color:  #253043;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-left:  20px;
  padding-top:  10px;
  padding-right:  40px;
  margin: 20px 0;
  position: sticky;
  bottom: 0;
  z-index: 100;
  background-color: #1D2634;
}
.priceBlock{
  display: flex;
}
.footer_contact{
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  color:  rgba(255, 255, 255, 0.87);
}
.statusButtonsBlock{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer_contact:hover .shake{
  animation: spin 0.5s ease-in-out;
  transition: all 0.3s ease 0s;
}

.footer_contact:hover .footerIcon{
  background-color: #2F3744;
}

.dev_link{
  font-size: 10px;
  color: rgba(255, 255, 255, 0.87);
  padding-left: 6px;
  display: inline-block; 
  text-decoration: none;
  position: relative;
}
.colorLabel{
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.orderItem{
  padding-left: 40px;
}
.green{
  color:rgb(27, 193, 27);
}
.red{
  color:red;
}
.orangeButton{
  background-color: #ce8912;
}
.redButton{
  background-color: #df1e2e;
}
.purpleButton{
  background-color: #5b10e5;
}
.regularButton{
  background-color: #4A7BD0;
}
.greenButton{
  background-color: rgb(27, 193, 27);
}
.violetButton{
  background-color: #8514b6;
}
.dev_link::after {
  content: '';
  position: absolute;
  left: 109px;
  bottom: -2px;
  width: 0;
  height: 1px; 
  background-color:  #4A7BD0; 
  transition: width 0.3s ease-in-out; 
}
/* ======================== ORDER PAGE ============================= */

.orderPageItem{
  display: flex;
  flex-direction: column;
  margin: 20px  0;
}

.orderSummary{
  display: flex;
  gap: 10px;
}
.odredDetails{
  margin-left: 40px;
}

.widgetBox{
  margin: 10px;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  background-color: #253043;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dev_link:hover::after {
  width: 41%; 
}
.addForm{
  display: flex;
  width: fit-content;
  border-radius: 10px;
  animation: fadeInDown 0.5s ease-out forwards;
  transition: all 0.3s ease 0s;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.priceCell{
  position: relative;
}
.pp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inactiveIcon {
  color: #57606E;
  cursor: not-allowed;
}
.inactiveIcon:hover{
  cursor: not-allowed;
}
.newPriceAnchor{
  position: relative;
}

.newPriceForm{
  position: absolute;
  z-index: 20;
  display: flex;
  background-color:#202939;
  flex-direction: row;
  width:fit-content;
  top: 6px;
  left: 6px;
}
.newPriceForm input{
  background-color:#253043;
  border: 1px solid #57606E;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  width: 80px;
}
.newPriceFormButtons{
  display: flex;
  gap: 10px;
  
}
.newPriceFormButtons > button {
  padding: 6px;
  min-width: auto;
  font-size: 24px;
}

.newProductForm{
  display: flex;
  flex-direction: row;
}
.customSelect{
  background-color:#1D2634;
  border: 1px solid #57606E;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
}
.extra-space-top{
  margin-top: 10px;
}

.block{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.prodInput{
  background-color:#1D2634;
  border: 1px solid #57606E;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
}
.alignBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.seachIcon{
  position: absolute;
  right: 10px;
}

.newDataButton{
  margin-top: 10px;
}

.tools{
  margin-top: 10px;
}
.scrollWrapper{
  max-height: 660px;
  overflow-y: auto;
  padding-bottom: 20px;
}
.addSpace{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.addContainer{
  display: flex;
  gap: 10px;
  position: relative;
}
.error-message{
  color: red;
  position: absolute;
  top: 56px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width:fit-content;
}

.addButton{
  display: flex;
  padding: 10px 0;
  width: 180px;
}

.addButton2{
  width: 240px;
}

@media (prefers-color-scheme: light) {
  .headerIcon:hover{
    background-color: rgba(238, 234, 234, 0.87);
  }

  .customSelect{
    background-color: #F8F9FC;
  }

  .addSpace{
    background-color: #ffffff;
    box-shadow:  3px 3px 0px #f3f4f7,
                -3px -3px 0px #fdfeff;
  }

  .headerIcon{
    color: #2b4357;
  }

  footer {
    background-color: #F8F9FC;
  }

  .prodInput{
    background-color: #F8F9FC;
  }

  .dev_link{
    color: #2b4357;
  }

  .footer_contact{
    color: #2b4357;
  }
  .flexListItem:hover{
    background-color: #E1E8F5;
  }

  .footer_contact:hover .footerIcon{
    background-color: rgba(238, 234, 234, 0.87);
  }

  .widgetBox{
    background-color: #ffffff;
    box-shadow:  3px 3px 0px #f3f4f7,
                -3px -3px 0px #fdfeff;
  }
}
