

/* ================================================ */
.outletContainer{
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.test{
  display: flex;
  gap: 20px;
  width: 100%;
}
.pageContent{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease 0s;
}
.toolBox{
  display: flex;
  width: 100%;
  gap: 40px;
  margin: 20px 0;
}
.toolBlock{
  display: flex;
  flex-direction: column;
  position: relative;
}
.searchInput{
  background-color:#1D2634;
  border: 1px solid #57606E;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
}
.searchIcon{
  position: absolute;
  bottom: 14px;
  right: 10px;
}

.toolBlockTitle{
  margin-bottom: 10px;
}

/* ====================== ORDER LIST ==================== */

.orderContainer{
  display: flex;
  flex-direction: column;
  width: 480px;
  border: 1px solid #777E8A;
  border-radius: 10px;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px;
  position: relative;
}

.orderList {
  flex-grow: 1; 
  overflow-y: auto;
}

th {
  border-bottom:  1px solid #777E8A;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

th, td{
  text-align: left;
  vertical-align: top;

}
.closeIcon{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.orderTitle{
  color: #4A7BD0;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}
.orderItem{
  display: flex;
  gap: 10px;
}
.orderItemDel{
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.orderItemDel:hover{
  color: #4A7BD0;
}
.costBox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.quantityBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.priceButtons{
  display: flex;
  flex-direction: column;
  color: #57606E;
}

.quantityBox > input{
  width: 32px;
  text-align: center;
  background-color:#253043;
  border: 1px solid #57606E;
  padding: 6px;
  border-radius: 8px;
  font-size: 14px;
  margin: 0 4px;
}
.orderButtons{
  display: flex;
  gap: 10px;
  justify-content: center;
}
.priceButtonsIcon {
  display: flex;
  cursor: pointer;
}
.priceButtonsIcon:hover {
  color: #4A7BD0;
}

.amount {
  margin-top: 20px;
  font-weight: 600;
}

/* Grids */

.gridTable {
  display: grid;
  gap: 4px;
  transition: all 1s ease-in-out  1s;
}
.gridHeader, .gridBody {
  display: grid;
  grid-template-columns: 10% 25% 15% 10% 10% 15% 10%; 
  gap: 4px;
}

.gridBodyWrapperAdmin{
  max-height: 520px;
  overflow-y: auto;
}
.gridBodyWrapperUser{
  max-height: 612px;
  overflow-y: auto;
}

.iconColumn {
  display: flex;
  justify-content: space-around;
  gap: 6px;
}

.icon-button:hover {
  color: #4A7BD0;
  position: relative;
  cursor: pointer;
}

.icon-button::after {
  content: attr(data-tooltip); 
  position: absolute;
  bottom: -100%; 
  left: 50%; 
  transform: translateX(-50%); 
  white-space: nowrap; 
  background-color: #253043; 
  color: #fff; 
  padding: 5px 10px; 
  border-radius: 4px; 
  font-size: 10px; 
  opacity: 0; 
  visibility: hidden; 
  transition: all 0.3s, visibility 0.3s; 
  z-index: 1000; 
  pointer-events: none; 
}

.icon-button:hover::after {
  opacity: 1;
  visibility: visible; 
}

.gridRow {
  display: contents;
}
.centerCell {
  display: flex;
  justify-content: center;
}
.headerCell {
  font-weight: 600;
  text-align: left;
  background-color: #4A7BD0;
  color: #F8F9FC;
}

.headerCell, .gridCell {
  padding: 10px;
  border-radius: 8px;
  text-align: left;

}

.gridCell{
  border: 1px solid #777E8A;
}

.gridRow:hover > div{
  background-color: #253043;
}

.slideInFromRight {
  animation: slideInFromRight 0.2s ease-out forwards;
}


@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0; 
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
    
  }
  to {
    transform: translateX(100%);
    opacity: 0; 
  }
}

@media (prefers-color-scheme: light) {
  .searchInput{
    background-color: #F8F9FC;
  }
  .newPriceForm input{
    background-color: #F8F9FC;
  }
  .newPriceForm{
    background-color: #F8F9FC;
  }
  .rowTable:hover .newPriceForm{
    background-color: #E1E8F5;
  }
  .rowTable:hover{
    background-color: #E1E8F5;
  }
  .gridRow:hover > div{
    background-color: #E1E8F5;
  }
  .quantityBox > input{
    background-color: #F8F9FC;
  }
}